# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
# Min Ah Kim


#steve is goat

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df=pd.read_csv("./data/listings.csv")
df
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
#less_than_100 = df["price"] < 100
#df[less_than_100]['price'].value_counts()
#less_than_100 = df["price"].value_counts()
#less_than_100
#less_than_100 = df["price"] < 100
#less_than_100.value_counts()
#less_than_100.sum()
#less = df[df["price"]< 100]
#less
#less_than_100 = less['price'].count()
#less_than_100
#less_than_100_filter = df['price'] < 100
#less_than_100_dollar_df = df[less_than_100_filter]
#less_than_100_dollar_prices_column = less_than_100_dollar_df['price']
#less_than_100_dollar_prices_count = less_than_100_dollar_prices_column.count()
#less_than_100_dollar_prices_count

filt = df['price']< 100
filt_100 = df[filt]
filt_100_price = filt_100['price'].count()
filt_100_price

22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn = df["neighbourhood_group"] == "Brooklyn"
brooklyn
df_bk = df[brooklyn]
df_bk=  df_bk['neighbourhood_group'].count()
df_bk

18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100. #8234
#condition_1 = df['neighbourhood_group'] == 'Brooklyn'


#condition_2 = df['price'] <100

# Select all data that meets both requirments
#bk_high = df[less_than_100 & df_bk ]
#bk_high.value_counts()
#brooklyn_lessthan100 = (df["price"]<100) & (df['neighbourhood_group'] == "Brooklyn")
#df[brooklyn_lessthan100].count()
df[filt & brooklyn]['id'].count()

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
name = ["Micheal", "David", "John", "Daniel"]
name_filt = df["host_name"].isin(name)


df[name_filt]['name'].count()

874

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
#will = df['neighbourhood'] == "Williamsburg"
#df[will]
#df['adjusted_price'] =df[will]
#df['price'].where(+100)
#df['adjusred_price'] = df['neighbourhood_group'] == str('Williamsburg' + 100)

# def fn(is_williamsburg, price): return price + \
#     100 if is_williamsburg else price

# df['adjusted_price'] = df.apply(
#     fn(df['neighbourhood'] == 'Williamsburg', df['price']), axis=1)

filter = df['neighbourhood'] == 'Williamsburg'
true_state = df['price'] + 100
true_state
flase_state = df['price']
flase_state


df['adjusted_price'] = np.where(filter, true_state, flase_state)
df['adjusted_price'].head(15)

0     175
1      75
2      60
3     175
4      65
5      75
6     140
7     160
8      88
9      85
10     65
11    209
12    239
13    182
14     96
Name: adjusted_price, dtype: int64

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
# total/ count(private) = x * 0.01 = %
#df_bk = df["neighbourhood_group"] == "Brooklyn"
#df_bk.value_counts()

total = df['room_type'].count() # roomtype = 46527

private = df["room_type"] == 'Private room'

private_val = df[private]['id'].count() #21144


shared = df["room_type"] == "Shared room"
shared_val = df[shared]['id'].count()
shared_val


private_per = private_val/total * 100
private_per

shared_per = shared_val/total * 100
shared_per

2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby("neighbourhood_group")['id'].count()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean_price = df.groupby('neighbourhood_group')
mean_price

mean_price['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
room = df.groupby('room_type')
room
room_mean = room['price'].mean()
room_mean

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
neighbourhood = df.groupby('neighbourhood_group')
neighbourhood['price'].agg(['min','max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
neighbourhood = df.groupby(['neighbourhood_group','room_type'])
neighbourhood['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
neighbourhood = df.groupby(['neighbourhood_group','room_type'])
neighbourhood['price'].agg(['count', 'min', 'max', 'mean', 'median','std'])

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv('./data/prices.csv')
n_listing = pd.read_csv('./data/n_listings.csv', sep=";")

n_listing.head

<bound method NDFrame.head of   neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121>

In [17]:
n_listing

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [18]:
# 2. Do join that keeps all the records for each table.

joined = pd.merge(prices,n_listing, on ='neighbourhood_group',how='outer')
joined.to_csv('joined.csv')

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
grammy = pd.read_csv('./data/grammys.csv')
grammy.head(5)

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True

In [20]:
year_16= grammy['year'] == 2016
year_2016 = grammy[year_16]

category = grammy['category'] == 'Album of the Year'
album = grammy[category]

filt = grammy[year_16 & category]
filt

winner = grammy['winner'] == True
winner_2016 = grammy[year_16 & category & winner]
winner_2016

# grammy = grammy[grammy['year'] == 2016]
# grammy = grammy[grammy['category'] == 'Album of the Year']
# grammy[grammy['winner'] == True]['nominee'].values[0]

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [21]:
list(grammy['category'].value_counts().index)
year_2019 = grammy['year'] == 2009
best = grammy['category']== 'Best Rap Album'
win = grammy['winner'] == True
winner_2009 = grammy[year_2019& best & win]
winner_2009['workers']

4396    Lil' Wayne
Name: workers, dtype: object

In [22]:
kend = grammy[grammy['workers']=='Kendrick Lamar']
kend
kend['workers'].count()
kendrick = grammy['workers'] == 'Kendrick Lamar'
win_kend = grammy['winner'] == True
win_kend = grammy[win_kend & kendrick]
win_kend['winner'].count()

4

In [23]:
#[name for name in  sorted(grammy['workers'].value_counts().index) if name[:3].lower() == "ken"]

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.